html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-container {
  min-width: 320px;
  min-height: 370px;
  width: 50vw;
  height: calc(50vw + 50px);
}

@media (max-width: 600px) {
  .game-container {
    width: 100vw;
    height: calc(100vw + 50px);
    padding-left: 5px;
    padding-right: 5px;
  }
}